<h1>Welcome!</h1>

<br />
<h6>Features of the App</h6>

<ul>
  <li>View all books</li>
  <li>View particuar book</li>
  <li>Add book</li>
  <li>Update book</li>
  <li>Delete book</li>
</ul>

<br />

<h6>Search book by Id</h6>
<div class="input-group mb-3" style="width:25%">
  <input type="text" class="form-control" placeholder="Enter book id" [(ngModel)]="bookId">
  <div class="input-group-append">
    <button class="btn btn-outline-secondary" type="button" [routerLink]="['/show-book']" [queryParams]="{'id': bookId}">Search</button>
  </div>
</div>
